* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* utility classes */
.btn {
  background-color: rgb(42, 112, 243);
  color: white;
  outline: none;
  border: none;
  padding: 8px 10px;
  font-weight: 700;
  border-radius: 5px;
  min-width: 50px;
  text-align: center;
  margin: 10px 5px;
}
.btn-delete {
  background-color: rgb(255, 71, 71);
}

/* navbar css */
.navbar {
  background-color: rgb(42, 112, 243);
  color: white;
  padding: 25px 100px;
  font-size: 2rem;
  display: flex;
  justify-content: space-between;
  box-shadow: 5px 3px 5px grey;

  .model {
    position: absolute;
    background-color: rgb(252, 252, 252);
    border: 1px solid rgb(211, 211, 211);
    border-radius: 10px;
    color: black;
    z-index: 999;
    padding: 20px 30px;
    width: 50%;
    min-width: 500px;
    height: 250px;
    top: 20%;
    left: 20%;
    display: flex;
    justify-content: space-between;

    p {
      font-size: 1.2rem;
      margin-bottom: 10px;
    }
  }

  .list {
    font-size: 0.8rem;
    color: grey;
    margin: 5px 0;
  }

  .total {
    position: absolute;
    bottom: 10px;
    left: 30px;
    font-size: 1rem;
    color: grey;
    margin: 5px 0;
    font-weight: bold;
  }

  .hide {
    display: none;
  }
  .closeBtn {
    border: 1px solid red;
    position: relative;
    width: 50px;
    height: 50px;
  }

  .cart {
    position: relative;
    /* border: 1px solid red; */

    .badge {
      border: 1px solid white;
      background-color: rgb(37, 146, 255);
      /* color: white; */
      /* font-size: 0.8px; */
      border-radius: 50%;
      width: 40px;
      height: 40px;
      padding: 2px;
      position: absolute;
      top: -20px;
      right: -20px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

/* welcome page css */
.welcomePage {
  padding: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 50px;

  h1 {
    min-width: 350px;
    max-width: 450px;
    font-size: 3rem;
    font-weight: 500;
    text-align: center;
    line-height: 4rem;
  }
}

/* card css */

.menu-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  flex-direction: column;

  .menu {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding: 80px 100px;
  }
}

.card {
  /* border: 1px solid red; */
  box-shadow: 28px 23px 40px -18px rgba(82, 82, 82, 0.94);
  width: 300px;
  height: 350px;
  padding-bottom: 10px;
  z-index: 10;
  border: 1px solid rgb(207, 207, 207);
  border-radius: 5px;

  .card-body {
    margin: 10px;
  }
  .cardImg {
    width: 100%;

    img {
      width: 100%;
      height: 200px;
      border-radius: 5px 5px 0px 0px;
    }
  }
  .card-buttons {
    margin-bottom: 10px;
  }
}
